<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0s">
    <title>实验目的</title>
</head> 
<body>
   
	{include file="public/header" /}
    <link rel="stylesheet" type="text/css" href="/index/css/symd.css">
    
        <div class="text">
            <div class="symd1"></div>
            <div class="symd2">
                <div class="head">本项目拟构建中国海军走向深蓝虚拟仿真平台，将虚拟实践教学引入思想政治理论课（以下简称“思政课”）“四史”教育，体现沈阳理工大学作为军工院校思政教学的国防特色，提升学生对思想政治理论的学习兴趣，促进新媒体时代思政课教育教学的改革创新，提高思政课教学的实效性。</div>
				<p>1.融入新中国历史教育。通过穿越时空、沉浸式的体验方式，让学生充分了解新中国海军70年从小舢板到国产航空母舰、从小炮艇到自行研制战略核潜艇、从“黄水”走向“深蓝”的艰辛历程，让学生充分了解我国海军发展的光辉历史、把握国情。引导和帮助学生树立正确的历史观，用历史唯物主义和辩证唯物主义的基本观点、方法来分析和考察社会经济、政治问题。同时让学生倍加珍惜今天来之不易的和平幸福生活。</p>
				<p>2.加强新时代爱国主义和理想信念教育。以中国海军发展6个时期的重大事件和英雄人物作为创作主题，讲好中国国防故事，讴歌党、讴歌祖国、讴歌人民、讴歌英雄，激励学生们继承和发扬我国海军英勇不屈、敢打敢拼的牺牲奉献精神，激发学生的爱国情、强国志、报国行，帮助学生树立正确的人生观、价值观，增强使命感和责任意识。为实现中华民族的伟大复兴而不懈奋斗。</p>
				<p>3.强化新时期国家安全观教育。以6个不同时期的军舰甲板为舞台场景，展现我国海军装备的日益现代化、海防技术的日益强大，坚定学生对中国特色社会主义道路、理论和制度的认同。增强学生的民族自豪感、民族自信的同时，培养学生的危机感和忧患意识，引导学生自觉践行强国梦，树立正确的安全观、科技观。培养学生自主创新的能力和意识，培育大国工匠精神。</p>
            </div>
        </div>

		{include file="public/footer" /}

</body>

</html>