<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>实验原理</title>
	</head>
	<body>
		 
        {include file="public/header" /}
		<link rel="stylesheet" type="text/css" href="/index/css/syyl.css">
		 <div class="content-img">
			 <div class="syyllogo"></div>
			 <div class="syylnr">
				 <p id="title">本项目依据现实超越性与客观真实性相结合、开放性与导向性相结合、虚拟仿真教学与现实教学相结合、线上教学与线下教学相结合、教师主导与学生主体相结合的原则，进行平台构建、内容设计并展开教学。通过虚拟仿真展教平台，从说历史、讲故事、展利器三个层面，达到思政教学的目的。</p>
				 <div class="syylbtns">
					 <div class="syylbtn" id="btns0"><a onclick="btn(0)">说历史</a></div>
					 <div class="syylbtn syylbtnx" id="btns1"><a onclick="btn(1)">讲故事</a></div>
					 <div class="syylbtn syylbtnx" id="btns2"><a onclick="btn(2)">展利器</a></div>
				 </div>
				 <div class="syylbtnnr0">
					 <div class="syylbtnnr">
						 <p id="title">在中国共产党的领导下，人民海军已经走过了72年从无到有、从小到大、由弱到强的风雨历程。72年间，人民海军浴火涅槃、风云际会、向海图强。让我们穿越历史的云烟，体会人民海军72年的沧桑巨变，重温人民海军一路前行的壮丽诗篇。</p>
						 <p>72载峥嵘岁月，人民海军一路走来，捷报频传。从万山海战到解放一江山岛，从八六海战到西沙海战……，1375次战斗考验，击沉击伤和俘虏敌舰船418艘，击毙俘虏敌人7500多名……，曾经“小艇打大舰”的人民海军，创造了诸多令人惊叹的战斗奇迹。</p>
						 <p>72年一路走来，从白马庙的小渔船到国产航母下水海试，从解放一江山岛作战到亚丁湾10年护航，从13个人的部</p>
						 <div class="syylbtn1nrimg">
							 <div class="syylbtn1nrimg1"></div>
							 <div class="syylbtn1nrimg2"></div>
						 </div>
						 <p>中南海惦念海疆一线，党中央情系万千水兵--</p>
						 <p id="title">毛泽东乘坐长江舰与水兵们共同航行生活了4天3夜，邓小平在济南舰上与水兵合影留念。江泽民乘坐“长兴岛”号指挥舰与官兵一起乘风破浪，胡锦涛登上海口舰和昆仑山舰与官兵亲切交谈……万里海疆见证了党中央的深情厚爱。队到五大兵种齐全，72载春华秋实，72年筚路蓝缕，人民海军正以更强大的实力，守卫着祖国的辽阔海疆。</p>
						 <p id="title">党的十八大以来，习主席多次视察海军部队。一座座军港、一艘艘战舰，留下习主席心系基层、情注官兵的足迹。</p>
					 </div>
				 </div>
				 <div class="syylbtnnr1">
					 <div class="syylbtnnr">
						 <p>内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2</p>
						 <p>内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2</p>
						 <p>内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2</p>
						 <p>内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2</p>
						 <p>内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2</p>
						 <p>内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2</p>
						 <p>内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2</p>
						 <p>内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2</p>
						 <p>内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2</p>
						 <p>内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2</p>
						 <p>内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2</p>
						 <p>内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2</p>
						 <p>内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2</p>
						 <p>内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2</p>
						 <p>内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2</p>
						 <p>内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2</p>
						 <p>内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2</p>
						 <p>内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2</p>
						 <p>内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2</p>
						 <p>内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2</p>
						 <p>内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2</p>
						 <p>内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2</p>
						 <p>内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2</p>
					 </div>
				 </div>
				 <div class="syylbtnnr2">
					 <p>暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容</p>
					 <p>暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容</p>
					 <p>暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容</p>
					 <p>暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容</p>
					 <p>暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容</p>
					 <p>暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容</p>
					 <p>暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容</p>
					 <p>暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容</p>
					 <p>暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容</p>
					 <p>暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容</p>
					 <p>暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容</p>
					 <p>暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容</p>
					 <p>暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容</p>
					 <p>暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容</p>
					 <p>暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容</p>
					 <p>暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容暂无内容</p>
				 </div>
			 </div>
		 </div>
		 
		 {include file="public/footer" /}
		 <script>
		 	function btn(num){
		 		if(num==0){
		 			xnum=1;
		 			onum=2;
		 		}
		 		if(num==1){
		 			xnum=2;
		 			onum=0;
		 		}
		 		if(num==2){
		 			xnum=0;
		 			onum=1;
		 		}
		 		$(".syylbtnnr"+num).show();
		 		$(".syylbtnnr"+xnum).hide();
				$(".syylbtnnr"+onum).hide();
		 		$("#btns"+xnum).addClass("syylbtnx");
				$("#btns"+onum).addClass("syylbtnx");
		 		$("#btns"+num).removeClass("syylbtnx");
		 	}
		 </script>
	</body>
</html>