<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>项目特色</title>
	</head>
	<body>
		{include file="public/header" /}
		<link rel="stylesheet" type="text/css" href="/index/css/xmts.css">
		 <div class="content-img">
		 	<div class="xmtslogo"></div>
			<div class="xmtsnr">
				<p id="title">思政课是高校思想政治教育的主阵地，主渠道，如何突破新媒体时代传统思政教学的困境，将先进的网络空间技术运用到思政教学中去，将虚拟仿真教学与现实教学结合起来，推动新时代思政课教学的改革创新?本实验项目通过以下几点思考，进行平台、内容和技术设计。</p>
				<p>①新媒体时代思政课改革的要求和当代大学生的特点。首先，开展虚拟实践教学顺应时代要求，也是思政课教学在新媒体时代的新形式，高校思政课教学改革创新一直是高等教育改革的重点，但同时也是难点。而思政课改革面临的最大挑战就来自于网络。大学生已成为网络社会的主体，他们每天运用微博、微信等社交网络获取信息，与朋友交流，在网络世界购物、娱乐，他们的生活离不开网络。但互联网中的各种信息五花八门，良莠不齐，大学生由于缺乏辨别能力，很容易受到不良网络信息的侵蚀和影响。虚拟仿真也是一种伴随互联网技术发展起来的技术，也具有与网络相同的虚拟性、交互性等特征，给人身临其境的感觉，能够让学生对其产生浓烈的兴趣，沉浸其中。所以将虚拟仿真实践有效运用于思政教学中，不失为一种选择和创新。</p>
				
				<p>②沈阳理工大学的办学特色。本实验项目的基地沈阳理工大学是一所具有浓厚国防特色背景及发展历程的高等院校，拥有五个兵器类专业。另外，沈阳理工大学拥有国家级科普基地-兵器博物馆，拥有先进的仪器设备及实验条件。如何在思政教育中体现沈阳理工大学的人才培养目标和育人特色，如何充分利用诸多的兵工资源和条件呢?我们选择了在已有系列成果的基础上，构建中国海军70周年《走向深蓝》文旅系列扩展现实推广平台，集知识性与趣味性于一身，激发学生学习的自主性，自觉性，提高思政课教学质量。</p>
				
				<p>③虚拟教学目标的客观真实性。本平台构建了思政教学的 “虚拟”空间和方式，但绝不是“虚无”、“虚幻”。其教学内容和教学目的都具有客观真实性，虚拟仿真表面上看是虚幻不实的，但归根结底要通过网络空间技术向大学生传递理论知识与价值引领。也就是说，实验项目绝不能为了设计而设计，必须要更好达成思政教学的目标。中共中央宣传部、教育部制定颁发的《新时代学校思想政治理论课改革创新实施方案》中指出，大学阶段重在增强学生的使命担当。“重点引导学生系统掌握马克思主义基本原理和马克思主义中国化理论成果，了解党史、新中国史、改革开放史、社会主义发展史，认识世情、国情，党情，深刻领会习近平新时代中国特色社会主义思想，培养运用马克思主义立场观点方法分析和解决问题的能力;自觉践行社会主义核心价值观，尊重和维护宪法法律权威，识大局、尊法治、修美德;矢志不渝听党话跟党走，争做社会主义合格建设者和可靠接班人。”在项目设计上，我们通过三个平台，以6个不同时期的军舰甲板为舞台场景，从说历史，讲故事、展利器三个不同层面，融入历史教育、加强爱国主义和理想信念教育、强化国防教育，引导学生树立正确的世界观、人生观、价值观，认同中国特色社会主义道路、理论、制度，坚定自信，为实现中华民族伟大复兴而不懈奋斗。</p>
				
				<p id="nrs">④充分运用各种先进技术手段。辅助思政教学必须充分考虑到学生学习时的物质条件，既要针对线上用户，也要针对线下用户;既要满足台式机、也要满足IPad、手机用户需要，既要构建基于 web 在线虚拟拓展现实平台、制作手机、IPAD 移动端APP 的AR增强现实交互系统，还要创建网站、微信公众号。</p>
				
				<p id="nrs">（2）教学方法创新:</p>
				<p id="nrs">沉浸式体验教学</p>
				<p id="nrs">交互式体验教学</p>
				<p id="nrs">线上线下混合式教学</p>
				<p id="nrs">（3）评价体系创新:</p>
			</div>
		 </div>
		 
		 {include file="public/footer" /}
	</body>
</html>