<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在线答疑</title>
</head>
<body>
    
	{include file="public/header" /}
	<link rel="stylesheet" type="text/css" href="/index/css/zxdy.css">

        <div class="zxdy-text">

             <div class="zxdy1"></div>
             <div class="zxdy2">
                <div class="zxdy2-z"> 

                    <div class="zxdy2-s">

                        <div class="zxdy2-twz">
                            <div class="zxdy2-tw"></div>
                            <p> &nbsp; 在线提问<span>(18</span>条评论）</p>
                        </div>

                        <div class="zxdy2-fbz">
                            <textarea id="textArea" cols="60" rows="10"></textarea>
							<span class="two"><span id="textNum">0</span>/350字</span>
							<div class="zxdy2-fb">发表</div>
                        </div>

                    </div>

                    <div class="zxdy2-x">

                         <div class="zxdy2-xtext">
							 <div class="zxdy2-xtext1">
								 <div class="zxdy2-xtext1pic"></div>
								 <div class="zxdy2-xtext1janez" >
									 <div class="zxdy2-xtext1janezz">
										 <p class="jane">{name}</p>
										 <p class="janetext">整体内容思路都很清楚，问题提示也不错。很喜欢</p>
									 </div>
									 <div class="zxdy2-xtext1janezy">2022年4月20日</div>
								 </div>
							 </div>

							 <div class="zxdy2-xtext2">
								 <div class="zxdy2-xtext2s">
									<div class="zxdy2-xtext2spic"></div>
									<div class="zxdy2-xtext1janez" >
										<div class="zxdy2-xtext1janezz">
											<p class="jane">JACKSON</p>
											<p class="janetext">第一次近距离的站在虚拟的军舰上面了解海军的历史</p>
										</div>
										<div class="zxdy2-xtext1janezy">2022年4月20日</div>
									</div>
								 </div>
								 <div class="zxdy2-xtext2x">
									<div class="zxdy2-xtext2spic1"></div>
									<div class="zxdy2-xtext2lsz">
										<div class="zxdy2-xtext1janezz">
											<p class="jane">Teacher1</p>
											<p class="janetext">好的，我们会再接再厉<a href="#">回复</a></p>
										</div>
										<div class="zxdy2-xtext1janezy">2022年4月20日</div>
									</div>
								 </div>
							 </div>

							 <div class="zxdy2-xtext1">
								<div class="zxdy2-xtext1pic"></div>
								<div class="zxdy2-xtext1janez" >
								<div class="zxdy2-xtext1janezz">
									<p class="jane">Jane</p>
									<p class="janetext">整体内容思路都很清楚，问题提示也不错。很喜欢</p>
								</div>
								<div class="zxdy2-xtext1janezy">2022年4月20日</div>
								</div>
							 </div>
							 
						 </div>

					</div>
                </div>    
             </div>

        </div>

		{include file="public/footer" /}




        <script>
         
		$('#textArea').on("keyup",function(){
			$('#textNum').text($('#textArea').val().length);//这句是在键盘按下时，实时的显示字数
			if($('#textArea').val().length > 350){
				 $('#textNum').text(350);//长度大于350时0处显示的也只是350
				 $('#textArea').val($('#textArea').val().substring(0,350));//长度大于350时截取前350个字符
			}
		})
		$('#textNum').text($('#textArea').val().length);//这句是在刷新的时候仍然显示字数



		$('.zxdy2-fb').click(function(){
			var textArea=$("#textArea").val();
			
			if(textArea == "" || textArea == null){
				layer.msg('内容不能为空')
				return false;
			}

			$.ajax({
				url:'/index.php/index/Page/getText',
				type:'post',
				data:{'content':textArea},
				beforeSend:function(){
					beforesend=layer.load(1);
				},
				success:function(data){
					layer.close(beforesend);
					console.log(data);
				}
			})




		})



		</script>

</body>
</html>