*{
	padding: 0;
	margin: 0;
}
a,p,img,tr{
	user-select: none;
}
@font-face {
	font-family: "pingfang";
	src: url("font0.ttf");
}
a{
	text-decoration: none;
}
body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.logo{
	width: 1.89rem;
	height: 1.76rem;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	background: url(../img/top.png);
	background-size: 100% 100%;
}
.logo img{
	margin-top: 0.16rem;
	width: 1.49rem;
	height: 1.05rem;
}
.top-page{
	width: 100%;
	margin-top: 0.78rem;
	background: url(../img/rectangle1.png);
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
}
.rectangle-topbox{
	width: 12.80rem;
	display: flex;
	justify-content: space-between;
}
.rectangle-topbox a{
	color: black;
}
.rectangle-topbox a:hover{
	color: #4884a8;
}
.rectangle-topleft{
	width: 4.50rem;
	height: 0.52rem;
	font-size: 0.18rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.rectangle-topright{
	width: 4.50rem;
	height: 0.52rem;
	font-size: 0.18rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}