body{
	height: 100vh;
	min-height: 16.9rem;
	background: url(../img/syylbackground.jpg);
	background-size: 100% 100%;
}
.syylhref{
	color: #4884a8 !important;
  }
.content-img{
	width: 11.79rem;
	height:12.8rem ;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	background: url(../img/syylnrbg.png);
	background-size: 100% 100%;
}
.syyllogo{
	width: 3.05rem;
	height: 0.39rem;
	margin-top: 0.35rem;
	background: url(../img/syyl.png);
	background-size: 100% 100%;
}
.syylnr{
	width: 10.15rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.syylnr{
	letter-spacing: 0.03rem;
}
.syylbtnnr{
	width: 10.15rem;
	display: flex;
	flex-wrap: wrap;
}
.syylbtn1nrimg{
	width: 10.15rem;
	margin-top: 0.18rem;
	display: flex;
	justify-content: center;
}
.syylbtn1nrimg1{
	width: 4.84rem;
	height: 3.25rem;
	background: url(../img/syylimg1.png);
	background-size: 100% 100%;
}
.syylbtn1nrimg2{
	width: 4.87rem;
	height: 3.25rem;
	background: url(../img/syylimg2.png);
	background-size: 100% 100%;
}
.syylbtnnr0{
	display: block;
}
.syylbtnnr1{
	display: none;
}
.syylbtnnr2{
	display: none;
}
.syylnr p{
	margin-top: 0.35rem;
	font-size: 0.18rem;
}
.syylbtnnr1 p{
	margin-top: 0.17rem;
}
.syylbtns{
	height: 0.35rem;
	margin-top: 0.35rem;
	margin-bottom: 0.18rem;
	width: 3.05rem;
	display: flex;
	justify-content: space-between;
}
.syylbtn{
	height: 0.35rem;
	width: 0.98rem;
	font-size: 0.18rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fafafa;
	background-image: url(../img/40.png);
	background-size: 100% 100%;
}
.syylbtnx{
	background:url(../img/39.png);
	background-size: 100% 100%;
}

#title{
	text-indent:2em;
}