*{
    padding: 0;
    margin: 0;
}

body{
    min-height: 16.05rem;
    height: 100vh;
    background: url(../img/45.jpg);
    background-size: 100% 100%;
}

.zxdyhref{
    color: #4884a8 !important;
  }

.zxdy-text{
    width: 11.82rem;
    height: 11.98rem;
    background: url(../img/实验目的内容bg.png);
    background-size:100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zxdy1{
    width: 1.99rem;
    height: 0.4rem;
    background: url(../img/在线答疑标题.png);
    background-size: 100% 100%;
    margin-top: 0.54rem;
}

.zxdy2{
    width: 9.5rem;
    height:8.7rem;
    background: #ffffff;
    margin-top: 0.42rem;
    display: flex;
    justify-content: center;
}

.zxdy2-z{
    width: 9rem;
    height: 8rem;
    margin-top: 0.28rem;
}

.zxdy2-s{
    height: 1.8rem;
}

.zxdy2-twz{
    display: flex;
}

.zxdy2-tw{
    width: 0.21rem;
    height: 0.21rem;
    background: url(../img/提问.png);
    background-size: 100% 100%;
}

.zxdy2-fbz{
    position: relative;
    display: flex;
}

.zxdy2-fbz textarea{
    width: 7.08rem;
    height: 1.05rem;
    resize: none;
    margin-left: 0.22rem;
    margin-top: 0.4rem;
    border-radius:0.05rem;
    border: 0.02rem solid #e2e2e2;
    font-size: 0.19rem;
    font-weight: 600;
}

.two{
    position: absolute;
    font-size: 0.16rem;
    top: 1.2rem;
    right: 1.8rem;
}

#textNum{
    color: #fe7a63;
}

.zxdy2-fb{
    width: 0.65rem;
    height: 0.65rem;
    background: #3e73bf;
    border-radius: 0.03rem;
    margin-left: 0.52rem;
    margin-top: 0.62rem;
    font-size: 0.20rem;
    color: #ffffff;
    text-align: center;
    line-height: 0.65rem;
    cursor: pointer;
    user-select: none;
}

.zxdy2-s p{
    font-size: 0.16rem;
}

.zxdy2-s p span{
    color: cornflowerblue;
}

.zxdy2-x{
    height: 6.2rem;
    display: flex;
    justify-content: flex-end;
}

.zxdy2-xtext{
    width: 8.66rem;
    height: 4.74rem;
    margin-top: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.zxdy2-xtext1{
    height: 1.05rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.01rem solid #e2e2e2;
}

.zxdy2-xtext1pic{
    width: 0.72rem;
    height: 0.72rem;
    background: url(../img/女.png);
    background-size: 100% 100%;
}

.zxdy2-xtext1janez{
    width: 7.54rem;
    height:1.05rem ;
    display: flex;
    justify-content: space-between;
}

.zxdy2-xtext1janezz{
    width: 3.45rem;
    height: 1.05rem;
}

.jane{
    font-size: 0.22rem;
    color: #74b7fb;
}

.janetext{
    font-size: 0.15rem;
    color: #b3b3b3;
    line-height: 0.4rem;
}

.zxdy2-xtext1janezy{
    width: 1.14rem;
    height: 1.05rem;
    font-size: 0.16rem;
    color: #b3b3b3;
}

.zxdy2-xtext2{
    height:2.3rem;
    border-bottom: 0.01rem solid #e2e2e2;
}

.zxdy2-xtext2s{
    height: 1.15rem; 
    display: flex;
    justify-content: space-between;

}

.zxdy2-xtext2spic{
    width: 0.71rem;
   height: 0.71rem;
   background: url(../img/学生男.png);
   background-size: 100% 100%;
}

.zxdy2-xtext2x{
    width: 7.64rem;
    height: 1.15rem;
    margin-left:1.02rem ;
    display: flex;
    justify-content: space-between;
}

.zxdy2-xtext2spic1{
    width: 0.72rem;
    height: 0.72rem;
    background: url(../img/老师.png);
    background-size: 100% 100%;
}

.zxdy2-xtext2lsz{
    width: 6.80rem;
    height: 1.15rem;
    display: flex;
    justify-content: space-between;
}

.janetext a{
    text-decoration: none;
    margin-left: 0.5rem;
    color: #74b7fb;
}