<script src="/index/js/rem.js"></script>
<script type="text/javascript" src="/index/js/jquery.js"></script>
<script src="/layer/layer.js"></script>
<link rel="stylesheet" type="text/css" href="/index/css/header.css"><!-- 头部属性 -->
<link rel="stylesheet" type="text/css" href="/index/css/bottom.css"><!-- 尾部属性 -->


<!-- 嵌套头部 -->
	<div class="logo">
		<img src="/index/img/44.png">
	</div>
	<div class="top-page">
		<div class="rectangle-topbox">
			<div class="rectangle-topleft">
				<a href="/index.php/index/index/index" class="indexhref">首页</a>
				<p>/</p>
				<a href="/index.php/index/Page/syyl" class="syylhref">实验原理</a>
				<p>/</p>
				<a href="/index.php/index/Page/symd" class="symdhref">实验目的</a>
			</div>
			<div class="rectangle-topright">
				<a href="/index.php/index/Page/xmts" class="xmtshref">项目特色</a>
				<p>/</p>
				<a href="/index.php/index/Page/cjxq" class="cjxqhref">成绩详情</a>
				<p>/</p>
				<a href="/index.php/index/Page/zxdy" class="zxdyhref">在线答疑</a>
			</div>
		</div>
	</div>
	<!-- 嵌套头部 -->